
html, body {
	min-height:100%;
	position: fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
}

.nav {
	padding-top: 15px;
	padding-bottom: 15px;
	height:10%;
}

.nav a {
	color: #454545;
	font-size: 3vw;
	padding: 10px 10px;
	text-align: left;
	font-weight: thin;
	height:10%;
	font-family: 'Dosis', sans-serif;
}

.nav a:hover {
	color: #508FCE;
}

.nav li {
	display: inline;
	text-align: left;
}

.jumbotron {
	background-image: url('portrait1.JPG');
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;	
	color: #FFFFFF;
	background-color: #C6C6C6;
}

.jumbotron h2 {
	color: #FFFFFF;
	font-size: 8vw;
	font-weight: bold;
	text-align: right;
	padding-top: 18%;
}

.jumbotron h3 {
	color: #FFFFFF;
	font-size: 4vw;
	text-align: right;
	font-family: 'Dosis', sans-serif;
}

.jumbotron .container {
    position: relative;
    top: 100px;
}

.footer {
	position: absolute;
	height:10%;
	width: 100%;
	background-color: #FFFFFF;
	margin-top: 0;
}

.footer h2 {
	font-size: 20px;
	text-align: right;
	font-family: 'Dosis', sans-serif;
	font-weight: thin;
}