body{
	background-color: #FFFFFF;
	margin: 0;
	color: #32323c;
}

.landing {
	background-image: url('images/flatback.JPG');
	background-size:   cover;
	background-color: #000000;
	background-position:0;
	overflow:hidden;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	background-repeat: no-repeat;
	background-position: center center;
}

.landing h1 {
	color:#FFFFFF;
	font-family: "Dosis";
	font-weight: 700;
	letter-spacing: .25em;
	text-align: center;
	padding-top: 20rem;
	padding-bottom: 30rem;
}

.landing p {
	color: #C0C0C0;
	font-family: "Dosis";
	letter-spacing: .1em;
	text-align: center;
	padding-bottom: 10px;
}

.about {
	background-color: #FFFFFF;
	width: 100%;
}

.container {
	width: 90%;
	padding-top: 3%;
	margin: auto;
}

.circle {
	background-image: url('images/portrait2.JPG');
	background-size: cover;
	border-radius: 50%;
	padding-bottom:100%;
}

.padding {
	padding: 5%;
}

.title h3{
	font-family: "Dosis";
	font-weight: 800;
	font-size:2.5em;
	color: #000000;
	text-align: center;
}

.description p {

	font-family: "Raleway";
	font-size: 1em;
	line-height: 2em;
	margin: 0px;
	padding-top: 5%;
	padding-left: 7%;
}

.links {
	font-family: "Raleway";
	margin: 0px;
	padding-left: 7%;
	padding-top: 5%;
}

.header-line {
	margin: .4em auto 2em auto;
	width: 40px;
	height: 3px;
	background-color:#6699FF;
}

.experience {
	background-color: #F0F0F0;
	width: 100%;
	padding-bottom: 10%;
}

.map {
	background-color: #FFFFFF;
	height: 20%;
}

.mapbox {
	padding-bottom:10%;
}

.ending {
	background-color: #000000;
	height: 8em;
}

.ending p{
	font-family: "Dosis";
	color: #444444;
	font-size: 2em;
	text-align: center;
	padding-top: 1em
}


